# Ignore bundler config and locally installed gems.
/.bundle
/vendor/bundle

# Ignore key files for decrypting credentials (master.key and per-environment keys).
/config/*.key
/config/credentials/*.key

# Ignore all environment files.
/.env*

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep

# Ignore uploaded files and local databases.
/storage/*
!/storage/.keep

# Ignore build and test output.
/public/assets
/coverage

# Ignore OS files.
.DS_Store
